{% extends 'base.html' %}
{% load static %}
{% block content %}

	
<main>
    <div class="mainIMG">
    		<div class="mainTitle"><!--main title-->
    			<h1>
    				Qanday maxsulot izlamoqdasiz?
    			</h1>
    			<h6>
    				Milliy hunarmandchilikni ommabop turlari
    			</h6>
    		</div><!--main title-->
    		<div class="container-fluid mt-3"><!--container-fluid-->
    			<div class="row rows1">
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 01
    						 </h1>
    						 <p class="titlecols">
    						 	Kulolchilik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs1">
    						    <a href="/static/index2.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 02
    						 </h1>
    						 <p class="titlecols">
    						 	To'qimachilik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs2">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 03
    						 </h1>
    						 <p class="titlecols">
    						 	Xattotlik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs3">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 04
    						 </h1>
    						 <p class="titlecols">
    						 	Zargarlik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs4">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 05
    						 </h1>
    						 <p class="titlecols">
    						 	Haykaltaroshlik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs5">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 06
    						 </h1>
    						 <p class="titlecols">
    						 	Yog'och o'ymakorlik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs6">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	07 
    						 </h1>
    						 <p class="titlecols">
    						 	Rassomchilik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs7">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">8</div>
    				<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cols">
    					<div class="contains">
    						 <h1 class="countsH1">
    						 	 08
    						 </h1>
    						 <p class="titlecols">
    						  Temirchilik
    						 </p>
    						 <span class="describtions">
    						 	Kulolchilik buyumlari va<br class="brs">
    						 	sopol idishlar
    						 </span>
    						 <div class="colsIMGs colsIMGs8">
    						    <a href="/static/index4.html" target="_blank">
    						 	   <button class="btnshows">
    						 	      Mahsulotni ko'rish
    						     </button>
    						    </a>
    						 </div>
    					</div>
    				</div>
    			</div>
    		</div><!--container-fluid-->
    		<div class="mainTitle2"><!--main title-->
    			<h1>
    				Eng ko'p harid qilingn maxsulotlar
    			</h1>
    			<h6>
    				Milliy hunarmandchilikni ommabop turlari
    			</h6>
    		</div><!--main title-->
    		<div class="container-fluid">
    	     <div class="row">
				 
				 {% for p in pro  %}
				 <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
					<a href="/static/index4.html" target="_blank">
						<img src="{{ p.img1.url }}" alt="">
						<span class="costs">
							{{p.price}}
						</span>
						<p class="names">
							{{p.category}}
						</p>
						<span class="describtions2">
							{{p.name}}
						</span>
						<span class="iconsB">
									   <i style="color: black;" class="far fa-heart "></i>
								   </span>
								   <span class="iconsN">
										   <i class="fas fa-heart "></i>
								   </span>
					</div>
					</a>
				  </div>
				 {% endfor %}
					 
    	   

    	     </div>
        </div>
    </div>
</main>

{% endblock content %}