<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HunarmandUz</title>
	<meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="John Doe">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="fontawesome/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<header>
  <div id="headerIMG2">
			<div class="nav1"><!--nav1-->
				<div class="d-inline-block">
					<a href="#">
						<img src="img/Hunarmadlar.png" class="craftsmen">
					</a>
				 </div>
				 <div class="inputGroup">
					  <span id="iconSearch" onclick="longInput()">
						<i class="fa fa-search"></i>
					  </span>
					<form action="#"class="d-inline-block">
						<select id="selectLangue">
							<option>UZ</option>
							<option>EN</option>
							<option>РУ</option>
						</select>
					</form>
					<span id="iconUser">
						<i class="far fa-user "></i>
					</span>
					<span id="iconHeart1" class="iconHeart1">
						<i class="far fa-heart "></i>
					</span>
					<span id="iconHeart2" class="iconHeart2">
						<i class="fas fa-heart "></i>
					</span>
  					<form action="#" class="d-inline-block">
					   <input type="search" class="searchInput" list="browsers" name="browser"  id="searchInput">
  						 <datalist id="browsers">
   						    <option value="pichoqlar">
    					    <option value="mebellar">
    					    <option value="sopol idishlar">
                </datalist>
  					</form>
				</div>
			</div><!--nav1-->
      <div class="nav2"><!--nav2-->
         <nav class="navbar navbar-expand-lg navbar-light bg-dark pt-2">
              <a class="navbar-brand" href="#">
              	<img src="img/Hunarmadlar.png" class="craftsmen">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="     #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars text-white"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active pb-2 pt-1">
                   <a href="#">
                   	<span  class="text-white" style="font-size: 25px;">
										  Royhatdan O'tish
									  </span>
                   </a>
                  </li>
                  <li class="nav-item pt-2 pb-2">
                    <a href="#" class="nav-item active">
                    	<span class="text-white" style="font-size: 25px;">
                    	    Biz Haqimizda
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link disabled text-white">
                    	<span style="font-size: 25px;">menu4</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link disabled text-white ">
                    	<span style="font-size: 25px;">menu5</span>
                    </a>
                  </li>
                  <li class="nav-item pb-2 pt-2">
                    <form action="#">
                    	<select class="slesctMenu">
                    	   <option>UZ</option>
                    	   <option>EN</option>
                    	   <option>РУ</option>
                      </select>
                    </form>
                  </li>       
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2"  name="browsers" list="browsers" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
          </div><!--nav2-->
          <div class="second_page_header_title">
          	<h1>
          		Kulolchilik
          	</h1>
          	<span>
          		Kulolchilik buyumlari va sopol idishlar
          	</span>
          </div>
    </div>
</header>
<main>
	<div class="mainIMG">
    		<div class="container-fluid mt-5">
    	     <div class="row">
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	    <div class="cols2IMGs cols2IMGs1">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Temirchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Chust pichog'i
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs2">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Milliy sirg'a
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Zargarlik
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs3">
    	     	    	<span class="costs">
    	     	    		70 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Kulolchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Sopol tovoq
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs4">
    	     	    	<span class="costs">
    	     	    		50 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Yog'och o'ymakorligi
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Yog'och Lavh
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs5">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Temirchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Chust pichog'i
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs6">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Zargarlik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Milliy sirg'a
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs7">
    	     	    	<span class="costs">
    	     	    		70 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Kulolchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Sopol tovoq
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs8">
    	     	    	<span class="costs">
    	     	    		50 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Yog'och oymakorligi
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Yog'och lavh
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	   	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	    <div class="cols2IMGs cols2IMGs1">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Temirchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Chust pichog'i
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs2">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Milliy sirg'a
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Zargarlik
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs3">
    	     	    	<span class="costs">
    	     	    		70 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Kulolchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Sopol tovoq
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs4">
    	     	    	<span class="costs">
    	     	    		50 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Yog'och o'ymakorligi
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Yog'och Lavh
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs5">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Temirchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Chust pichog'i
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs6">
    	     	    	<span class="costs">
    	     	    		100 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Zargarlik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Milliy sirg'a
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs7">
    	     	    	<span class="costs">
    	     	    		70 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Kulolchilik
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Sopol tovoq
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>
    	     	  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 cols2">
    	     	   <div class="cols2IMGs cols2IMGs8">
    	     	    	<span class="costs">
    	     	    		50 0000 UZS
    	     	    	</span>
    	     	    	<p class="names">
    	     	    		Yog'och oymakorligi
    	     	    	</p>
    	     	    	<span class="describtions2">
    	     	    		Yog'och lavh
    	     	    	</span>
    	     	    	<span class="iconsB">
										<i class="far fa-heart "></i>
									</span>
									<span class="iconsN">
											<i class="fas fa-heart "></i>
									</span>
    	     	    </div>
    	     	  </div>	
    	     </div>
        </div>
    </div>
</main>
<footer>
	
</footer>


<script src="js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>