<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HunarmandUz</title>
	<meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="John Doe">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/fontawesome/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <div id="registr_page_bgimg">
	<div class="container-fluid">
	  <div class="row registr_page_row">
	  	<div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 mb-3">
	  	  <form>
	  	  	<div class="row">
	  	  	<div class="col-12 text-center">
	  	  	  <h1 class="registr_title">
	  	  	    Ro'yhatdan o'ting
	  	  	  </h1>
	  	  	</div>
	  	  	<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12 forms">
	  	  	  <label>Ism</label>
	  	  	  <input type="text" id="inputName" placeholder="Ismingizni kiritin" pattern="[a-z,A-Z]{1,}" required>
	  	  	</div>
	  	  	<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12 forms ">
	  	  	  <label>Familya</label>
	  	  	  <input type="text" id="surname" placeholder="Familyangizni kiritin" pattern="[a-z,A-Z]{1,}" required>
	  	  	</div>
	  	  	<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12 forms ">
	  	  	  <label>Telefon raqam</label>
	  	  	  <input type="text" id="inputTell" placeholder="+998"pattern="[+998]{4}[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}" required>
	  	  	</div>
	  	  	<div class="col-12 col-sm-6 col-md-6 col-lg-12 col-xl-12 forms mb-4">
	  	  	  <label>SMS kod</label>
	  	  	  <input type="password" id="inputSMSCode" placeholder="SMS ko'dni kiritin" pattern=".{5,}" required>
	  	  	</div>
	  	  	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  text-center">
	  	  	  <input type="submit" value="Ro'yhatdan o'ting" class="submit">
	  	  	</div>
	  	   </div>
	  	  </form>
	  	 </div>
	    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
	    	<div class="registr_page_img">
	    		
	    	</div>
	    </div>
	  </div>
	</div>
  </div>
<script src="/static/js/index.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>